<div class="responsive-menu">
  <div class="rep-header">
    <div class="rep-logo">
      <img width="280px" src="/assets/img/logo-nurturegames.png" alt="" />
    </div>
    <a href="#" title="" class="close-menu"><i class="lni lni-close"></i></a>
  </div>
  <ul class="mobile-menu">
    <!-- {% for item in site.data.navigation-menu.sidemenu-v2.toc %}
    <li>
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
    </li>
    {% endfor %} -->
    <li>
      <a href="/blog" title="Blog">Blog</a>
    </li>
    <li>
      <a href="#feature-section" title="Features">Feature</a>
    </li>
  </ul>
</div>
