<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="wrapper">
      {% include header/header-game.html %}

      <section class="banner-v8">
        <div class="container">
          <div class="banner-v8-content">
            <div class="row">
              {% assign banner = page.banner %}
              <div class="col-lg-5">
                <div
                  class="banner-txt-v8 wow fadeInUp"
                  data-wow-duration="1000ms"
                  data-wow-delay="0ms"
                >
                  <h2>{{ banner.title }}</h2>
                  <p>{{ banner.content }}</p>
                  {% assign button = banner.button %}
                  <div class="banner-btn-group">
                    <!-- <a href="{{ button.link }}" title="" class="btn-default-v8"
                      >{{ button.label }}</a
                    >
                    <a href="{{ button.link }}" title="" class="btn-default-v8"
                      >{{ button.label }}</a
                    > -->
                    <a href="{{ button.link }}" title="" class="btn-default-v8">
                      <img src="/assets/img/btn-apple-store.svg" />
                    </a>
                    <a href="{{ button.link }}" title="" class="btn-default-v8">
                      <img src="/assets/img/btn-google-play.svg" />
                    </a>
                  </div>
                </div>
                <!--banner-txt end-->
                <!-- <div class="banner-wid">
                  <p>{{ banner.call-to }}</p>
                  <div class="wd-inz">
                    <span class="cinon"><i class="lni lni-phone"></i></span>
                    <div class="wl-info">
                      <span>hotline 24/7</span>
                      <h3>{{ site.data.settings.contact_settings.phone_number }}</h3>
                    </div>
                  </div>
                </div> -->
                <!--banner-wid end-->
              </div>
              <div class="col-lg-7">
                <div
                  class="banner-img-v8 wow zoomIn"
                  data-wow-duration="1000ms"
                  data-wow-delay="0ms"
                >
                  <img src="{{ banner.image }}" alt="" />
                </div>
                <!--banner-img-v8 end-->
              </div>
            </div>
          </div>
          <!--banner-v8-content end-->
        </div>
      </section>
      <!--banner-v8 end-->

      <section class="why-us-v8 features-section">
        <div class="container">
          <div
            class="title-v8 text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            {% assign features = page.features %}
            <!-- <h2>{{ features.title}}</h2>
            <p>{{ features.content}}</p> -->
          </div>
          <!--title-v8 end-->
          <div class="row fzt-row">
            {% for tablist in features.tablist %}
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="our-fzt">
                <div class="d-flex justify-content-between pb-4 header">
                  <div>
                    <img src="/assets/img/clr3.png" />
                  </div>
                  <div>
                    <p>CASE STUDY</p>
                  </div>
                </div>
                <h3>
                  <a href="{{ tablist.link }}" title="">{{ tablist.title }}</a>
                </h3>
                <p>{{ tablist.content }}</p>
                <!-- <span class="fzt-icon {{ tablist.version }}"
                  ><i class="{{ tablist.icon }}"></i
                ></span> -->
              </div>
              <!--our-fzt end-->
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!--why-us-v8 end-->

      <section class="interest-section-v8">
        {% assign interest = page.interest %}
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="d-lg-flex d-md-flex justify-content-center">
                <div>
                  <p>{{interest.title}}</p>
                  <h2>{{interest.content}}</h2>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 ">
              <div class="d-lg-flex d-md-flex justify-content-center">
                <a href="#">{{interest.button.label}}</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="why-us-v8">
        <div class="container">
          <div
            class="title-v8 text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            {% assign features = page.features_2 %}
            <h2>{{ features.title}}</h2>
            <p>{{ features.content}}</p>
          </div>
          <!--title-v8 end-->
          <div class="row fzt-row">
            {% for tablist in features.tablist %}
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="our-fzt">
                <h3>
                  <a href="{{ tablist.link }}" title="">{{ tablist.title }}</a>
                </h3>
                <p>{{ tablist.content }}</p>
                <!-- <span class="fzt-icon {{ tablist.version }}"
                  ><i class="{{ tablist.icon }}"></i
                ></span> -->
              </div>
              <!--our-fzt end-->
            </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="testimonial-v3">
        {% assign testimonial_2 = page.testimonial_v2 %}
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="testimonial">
                <div class="testimonial-content">
                  <p>{{testimonial_2.content}}</p>
                </div>
                <div class="testimonial-thumb d-flex justify-content-between py-3">
                  <div class="d-flex gap-2">
                    <div class="testimonial-thumb-avatar">
                      <img src="/assets/img/team4.jpg" />
                    </div>
                    <div class="testimonial-thumb-info d-flex flex-column justify-content-center">
                      <h2>Jeans Grey</h2>
                      <p>CEO of BraveBred</p>
                    </div>
                  </div>
                  <div>
                    <div>
                      <img src="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="testimonial">
                <div class="testimonial-content">
                  <p>{{testimonial_2.content}}</p>
                </div>
                <div class="testimonial-thumb d-flex justify-content-between py-3">
                  <div class="d-flex gap-2">
                    <div class="testimonial-thumb-avatar">
                      <img src="/assets/img/team4.jpg" />
                    </div>
                    <div class="testimonial-thumb-info d-flex flex-column justify-content-center">
                      <h2>Jeans Grey</h2>
                      <p>CEO of BraveBred</p>
                    </div>
                  </div>
                  <div>
                    <div>
                      <img src="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="quiz-v1">
        <div class="container">
          <div
            class="title-v8 text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            {% assign quiz = page.quiz %}
            <h2>{{ quiz.title}}</h2>
            <p>{{ quiz.subtitle}}</p>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="quiz-content">
                {% for item in quiz.content %}
                  <div class="quiz-content-item">
                    <div class="quiz-content-item-question">
                      <p>{{item.question}}</p>
                      <i></i>
                    </div>
                    <div class="quiz-content-item-answer">
                      <!-- <p>{{item.answer}}</p> -->
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>

      {% include footer/footer-game.html %}
    </div>
    <!--wrapper end-->

    <script src="/assets/js/bundle.min.js"></script>
    {% include chat-script.html %}

  </body>
</html>
